.container {
  align-items: center;
  display: flex ;
  flex-direction: column;
}

.header {
  align-self: flex-end;
}

.divForm {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  width: 100vh;
}

.divForm > input{
  padding: 10px ;
  flex-grow: 1;
  border: none;
  border-bottom: 1px solid grey;

}

.divForm > input:focus {
  outline: none;
}

.divForm > button {
  color: white;
  border: none;
  background-color: rgb(59, 146, 228);
  flex-grow: 0;
  border-radius: 5px;
  transition: 0.3s ease;
}

.divForm > button:hover {
  background-color: rgb(31, 80, 126);
}
